<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue"></script>
  <link rel="stylesheet" href="index.css">
</head>
    
<!--
    
    app
    v-bind tells, hey don't use the normal attribute here, dont use it like a normal html attribute, instead bind it
                - bind smth to my data, which i stored in the VueJs instance
                - takes an argument :href in this case (its the attribute)
dsirective - instruction u place in ur code, this instructi    
    all usages of "title" get re-rendered once the property changes!!
    by default vuejs doesn't render html elements, only renders text
    v-html = render html code, dont escape it
-->
<body>
<!--
    <div id="app">
        <h1 v-once>{{ title }}</h1>
        <p>{{ sayHello()}} - <a v-bind:href="link">Google</a></p>
        <hr>
        <p v-html="finishedLink"></p>
    </div>
-->
<!--    <div id="app2">
        <button v-on:click="increment(4, $event)">Click me</button>
        <button v-on:click="counter++">Click me</button>
        <button v-on:click="reset">Reset</button>
        <p>{{ counter }}</p>
        <p>{{ counter*2 > 10 ? 'Greater than 10' : 'Smaller than 10' }}</p>
        <p v-on:mousemove="updateCoordinates">Cooordinates: {{ x }} / {{ y }}
            - <span v-on:mousemove="doNothing">DeadSpot</span>
            - <span v-on:mousemove.stop>DeadSpot</span> 
        </p>
        <input type="text" v-on:keyup.enter.space="alertMe">
    
    </div>-->
<!--    v-model = setup two way binding for this input here, and between " " , the property we want to bind directly
    <div id="app3">
        <input type="text" v-model="name">
        <p>{{ name }}</p>
    </div>    -->
<!--<div id="app4">
        <button v-on:click="counter++">Increase</button>
        <button v-on:click="counter--">Decrease</button>
        <button v-on:click="secondCounter++">Increase Second</button>
        <p>Counter: {{ counter }} || {{ secondCounter }}</p>
        <p>Result : {{ result()  }} | {{ output }}</p>
    </div>
-->
<!--    v-on:click or @click
    v-bind:href or :href
    <div id="app5">
        <button @click="changeLink">Click to Change Link</button>
        <a :href="link">Link</a>
    </div>
    -->
<!--
    :class its VueJs syntax, and it expects an object(this object should be (css class, true/false))
    <div id="app6">
        <div 
             class="demo" 
             @click="attachRed = !attachRed"
        :class="divClasses"></div>
        <div class="demo" :class="{red: attachRed}"></div>
        <div class="demo" :class="[color, {red: attachRed} ]"></div>
        <hr>
        <input type="text" v-model="color">
    </div>
    
-->
<!--
    <div id="app7">
        <div class="demo" :style="{'background-color':color}"></div>
        <div class="demo" :style="myStyle"></div>
        <div class="demo" :style="[myStyle, {height: width + 'px'}]"></div>
        <hr>
        <input type="text" v-model="color">
        <input type="text" v-model="width">
    </div>
-->
<script>
    
/*vue js creates a template based on our html code, stores that internally and then uses this template to create real html , which then is rendered by the DOM*/
/* var app = new Vue({
        el: '#app',
        data: {
            title: 'Hello World',
            link: 'http://www.google.com',
            finishedLink: '<a href="http://google.com">Google</a>'
      },
        methods: {
            sayHello: function() { 
                this.title = 'hello'
                return this.title;
            }
        }
})*/
/*var app2 = new Vue({
        el: '#app2',
        data: {
            counter: 0,
            x: 0,
            y: 0
        },
        methods: {
            increment: function(amount,event) {
                this.counter+= amount;
            },
            reset: function(){
                this.counter=0;
            },
            updateCoordinates: function(event) {
                this.x = event.clientX;
                this.y = event.clientY;
            },
            doNothing: function(event) {
                event.stopPropagation();
            },
            alertMe: function() {
                alert('Alert');
            }
            
        }
    })*/
/*var app3 = new Vue({
        el: '#app3',
        data: {
            name: "Iustin"
        },
        methods: {
            
        }
    })*/
/*    var app4 = new Vue({
        el: '#app4',
        data: {
            counter: 0,
            secondCounter: 0
        },
        //computed = dependent properties
        //computed properties runs with sync, when something happens, it should execute
        computed: {
          output: function() {
              console.log('Computed');
              return this.counter > 5 ? 'Greater 5' : 'Smaller 5';
          }  
        },
        //watch: execute code upon data changes
        watch:{
            //it has to match one of my properties(counter in this case)
            counter: function(value) {
                var vm = this;
                setTimeout( () => {
                    vm.counter = 0;
                }, 2000);
            }
        },
        methods: {
            result: function() {
                console.log('Method1');
                return this.counter > 5 ? 'Greater 5' : 'Smaller 5';
            }
        }
    })*/
/*    
    var app5 = new Vue({
        el: "#app5",
        data: {
            link: 'http://google.com'
        },
        methods: {
            changeLink: function() {
                this.link = 'http://apple.com'
            }
        }
    })*/
/*    var app6 = new Vue({
        el: '#app6',
        data: {
          attachRed: false,
          color: 'green'
        },
        computed: {
            divClasses: function() {
                return {
                  red: this.attachRed,
                  blue: !this.attachRed
                };
            }
        }
    }) */
/* var app7 = new Vue({
        el: "#app7",
        data: {
            color: 'gray',
            width: 100
        },
        computed: {
            myStyle: function() {
                return {
                  backgroundColor: this.color,
                    width: this.width+ 'px'
                };
            }
        }
    })
    */
</script>
</body>
</html>